__pycache__/
__pycache__
*.pyc
**/__pycache__
**/*.pyc
.vscode
.env
*.py[cod]
output.txt
output.json
database/__pycache__
app.log
.DS_Store
.spa_bot
google_connection/service_account.json
test_color.log
.tele_webhook